
    body {
        padding: 0;
        margin: 0;
        background-color: bisque;

        text-align: center;
    }


    button {
        color: rgb(0, 0, 0);
        background-color: rgb(191, 252, 237);
        border-radius: 10px;
        box-shadow: 2px 2px 4px black;
        margin-bottom: 13px;
        padding: 3px 3px;
    }

    button:active {
        color: rgb(255, 0, 0);
        background-color: rgb(173, 238, 223);
        border-radius: 10px;
        padding: 2px 2px;
    }

    input {
        border-radius: 7px;
    }

    input:hover {
        border-radius: 15px;
        background-color: rgba(254, 72, 0, 0.113);
    }
